@font-face {
    font-family: "Geometria";
    src: url("/assets/font/Geometria/geometria_light.otf");
}
@font-face {
    font-family: "Geometria-Bold";
    src: url("/assets/font/Geometria/geometria_bold.otf");
}